body { 
  background: #F6F4EB; 
}

h1 {
	letter-spacing: 10px;
	font-size: 40px;
}

.center {
	text-align: center;
	top: 40%;
	position: absolute;
	width: 100%;
}

#description {
	top: 50%;
}

.footer {
	text-align: right;
	position: absolute;
	top: 95%;
	width: 98%;
	font-size: 11px;
}


.raleway {
  font-family: 'Raleway', sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #f5b362;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}